<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<description>The library's coding standard.</description>

	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="80"/>
	<arg name="colors"/>

	<!-- Ignore warnings and show progress of the run -->
	<arg value="np"/>

	<file>./app/src</file>
	<file>./src</file>
	<file>./tests</file>

	<rule ref="Doctrine">
        <!-- We actually want these prefixes and suffixes -->
		<exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix"/>
		<exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming.SuperfluousSuffix"/>
		<exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming.SuperfluousPrefix"/>

        <!-- No spacing around operators enforced, php-cs-fixer has this handled -->
		<exclude name="Generic.Formatting.SpaceAfterNot"/>
		<exclude name="PSR12.Operators.OperatorSpacing"/>
		<exclude name="Squiz.Strings.ConcatenationSpacing.PaddingFound"/>

        <!-- We actually want to use Yoda comparison -->
		<exclude name="SlevomatCodingStandard.ControlStructures.DisallowYodaComparison"/>

        <!-- Sometimes necessary to satisfy Psalm types -->
		<exclude name="SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration.MissingVariable"/>

        <!-- We don't want this -->
		<exclude name="Generic.Formatting.MultipleStatementAlignment"/>
	</rule>

    <!-- Align with php-cs-fixer config -->
    <rule ref="SlevomatCodingStandard.Namespaces.UseSpacing">
        <properties>
            <property name="linesCountBetweenUseTypes" value="0"/>
        </properties>
    </rule>

<!--	<rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">-->
<!--		<exclude-pattern>*/tests/*</exclude-pattern>-->
<!--	</rule>-->
	<rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
</ruleset>
