<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/schema/9.3.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./src/bundle/Resources</directory>
        </exclude>
    </coverage>

    <php>
        <!-- Disable E_USER_DEPRECATED -->
        <!-- php -r 'echo -1 & ~E_USER_DEPRECATED;' -->
        <ini name="error_reporting" value="-16385"/>
        <env name="ENABLE_2FA_TRUTHY" value="true"/>
        <env name="ENABLE_2FA_FALSY" value="false"/>
    </php>
</phpunit>
