<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./src/bundle/Resources</directory>
        </exclude>
    </source>

    <php>
        <!-- Disable E_USER_DEPRECATED -->
        <!-- php -r 'echo -1 & ~E_USER_DEPRECATED;' -->
        <ini name="error_reporting" value="-16385"/>
        <env name="ENABLE_2FA_TRUTHY" value="1"/>
        <env name="ENABLE_2FA_FALSY" value="0"/>
        <env name="ENABLE_2FA_OFF_STR" value="off"/>
        <env name="ENABLE_2FA_ON_STR" value="on"/>
    </php>
</phpunit>
