<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="config/bootstrap.php" backupGlobals="false" colors="true">
    <testsuites>
        <testsuite name="Integration test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="APP_ENV" value="test" force="true" />
        <!-- Disable E_USER_DEPRECATED -->
        <!-- php -r 'echo -1 & ~E_USER_DEPRECATED;' -->
        <ini name="error_reporting" value="-16385"/>
    </php>
</phpunit>
